MVC/Service References/OrderServiceReference/OrderInformationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderInformationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfdigitalx.azurewebsites.net/OrderInformationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfdigitalx.azurewebsites.net/OrderInformationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF" />
      <xsd:import schemaLocation="http://wcfdigitalx.azurewebsites.net/OrderInformationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfdigitalx.azurewebsites.net/OrderInformationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalXData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderInformationService_GetOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderList" />
  </wsdl:message>
  <wsdl:message name="IOrderInformationService_GetOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInformationService_GetOrderList_RequestFailedFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q1:RequestFailed" />
  </wsdl:message>
  <wsdl:message name="IOrderInformationService_GetShoppingCartInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartInformation" />
  </wsdl:message>
  <wsdl:message name="IOrderInformationService_GetShoppingCartInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderInformationService_GetShoppingCartInformation_RequestFailedFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q2:RequestFailed" />
  </wsdl:message>
  <wsdl:portType name="IOrderInformationService">
    <wsdl:operation name="GetOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInformationService/GetOrderList" message="tns:IOrderInformationService_GetOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInformationService/GetOrderListResponse" message="tns:IOrderInformationService_GetOrderList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderInformationService/GetOrderListRequestFailedFault" name="RequestFailedFault" message="tns:IOrderInformationService_GetOrderList_RequestFailedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderInformationService/GetShoppingCartInformation" message="tns:IOrderInformationService_GetShoppingCartInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderInformationService/GetShoppingCartInformationResponse" message="tns:IOrderInformationService_GetShoppingCartInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderInformationService/GetShoppingCartInformationRequestFailedFault" name="RequestFailedFault" message="tns:IOrderInformationService_GetShoppingCartInformation_RequestFailedFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasciHttpBinding" type="tns:IOrderInformationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderList">
      <soap:operation soapAction="http://tempuri.org/IOrderInformationService/GetOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFailedFault">
        <soap:fault use="literal" name="RequestFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartInformation">
      <soap:operation soapAction="http://tempuri.org/IOrderInformationService/GetShoppingCartInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFailedFault">
        <soap:fault use="literal" name="RequestFailedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderInformationService">
    <wsdl:port name="BasciHttpBinding" binding="tns:BasciHttpBinding">
      <soap:address location="http://wcfdigitalx.azurewebsites.net/OrderInformationService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>