MVC/Service References/OrderServiceReference/OrderInformationService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfdigitalx.azurewebsites.net/OrderInformationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalXData" />
  <xs:element name="GetOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalXData" minOccurs="0" name="GetOrderListResult" nillable="true" type="q1:ArrayOfOrderedItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShoppingCartInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShoppingCartInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalXData" minOccurs="0" name="GetShoppingCartInformationResult" nillable="true" type="q2:ArrayOfShoppingCartInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>